!!!
%html
  %head
    %title BraintreeSample
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{:src => "https://js.braintreegateway.com/v2/braintree.js"}
  %body
    .container
      =render 'layouts/partials/messages'
      .jumbotron
        = yield